PORT=3000

FRONTEND_URL=http://localhost:5173

DATABASE_URL=postgresql://user:password@localhost:5432/pragent

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=24h

FASTAPI_URL=http://localhost:8000

WEBHOOK_SECRET=my_super_secret_key

GITHUB_TOKEN=your_github_token

REDIS_HOST=localhost
REDIS_PORT=6379